In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

# Import the model we are using
from sklearn.ensemble import RandomForestRegressor


# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('data.csv')
data.head()

         Date    Open    High     Low   Close    Volume   Name
0  2006-01-03  211.47  218.05  209.32  217.83  13137450  GOOGL
1  2006-01-04  222.17  224.70  220.09  222.84  15292353  GOOGL
2  2006-01-05  223.22  226.00  220.97  225.85  10815661  GOOGL
3  2006-01-06  228.66  235.49  226.85  233.06  17759521  GOOGL
4  2006-01-09  233.44  236.94  230.70  233.68  12795837  GOOGL

In [3]:
data = data.drop('Name',axis=1)

In [6]:
abc=[]
for i in range(len(data)):
    abc.append(data['Date'][i].split('-'))
    data['Date'][i] = ''.join(abc[i])

<ipython-input-6-b1accbd598a9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Date'][i] = ''.join(abc[i])

In [7]:

#We are now trying to predict the 'Close' Value based on all attributes



#These are the labels: They describe what the stock price was over a period.
X_1 = data.drop('Close',axis=1)
Y_1 = data['Close']

In [8]:
X_train_1, X_test_1, y_train_1, y_test_1 = train_test_split(X_1, Y_1, test_size=0.33, random_state=42)

In [9]:
rfg = RandomForestRegressor(n_estimators= 10, random_state=42)

In [10]:
rfg.fit(X_train_1,y_train_1)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=10, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [23]:
rfg.score(X_test_1, y_test_1)

0.9997798214978976

In [24]:
pd.concat([pd.Series(rfg.predict(X_test_1)), y_test_1.reset_index(
drop=True)], axis=1)

           0   Close
0    277.076  281.35
1    315.921  317.06
2    236.551  240.63
3    291.103  289.05
4    172.090  174.27
..       ...     ...
992  240.299  242.00
993  806.833  807.80
994  506.696  505.80
995  237.211  237.40
996  241.613  249.58

[997 rows x 2 columns]

In [12]:
# Saving feature names for later use
feature_list = list(X_1.columns)
print(feature_list)

['Date', 'Open', 'High', 'Low', 'Volume']

In [14]:


# Get numerical feature importances
importances = list(rfg.feature_importances_)

# List of tuples with variable and importance
feature_importances = [(feature, round(importance, 2)) for feature, importance in zip(feature_list, importances)]

# Sort the feature importances by most important first
feature_importances = sorted(feature_importances, key = lambda x: x[1], reverse = True)

# Print out the feature and importances
[print('Variable: {:20} Importance: {}'.format(*pair)) for pair in feature_importances];

Variable: Open                 Importance: 0.41
Variable: Date                 Importance: 0.24
Variable: High                 Importance: 0.23
Variable: Low                  Importance: 0.12
Variable: Volume               Importance: 0.0

In [ ]:
Prediction

In [ ]:
pd.concat([data.Close, data.Close.shift(-1)], axis=1)